/* Colors */

$light-main: #fff;
$dark-main: #002c3c;
$accent-color: #00749f;
$danger-color: #ff2b2b;

//breakpoints
$bp-xl: 1599px;
$bp-lg: 1279px;
$bp-md: 1023px;
$bp-sm: 767px;
$bp-xs: 576px;
$bp-xxs: 350px;

//fonts
$roboto: 'Roboto, sans-serif';
